        <!doctype html>
        <html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="ROBOTS" content="NOINDEX, NOFOLLOW"><meta name="referrer" content="no-referrer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
        <body>
        <div style="background-color: #ccc;">
        <table width="730" border="0" cellspacing="0" cellpadding="0" style="font-family:Calibri,Candara,Segoe,&quot;Segoe UI&quot;,Optima,Arial,sans-serif;letter-spacing:normal;text-indent:0px;text-transform:none;word-spacing:0px;text-decoration:none;margin:0px auto;background-color:rgb(255,255,255)">
        <tbody>
        <tr style="background-color: #f2f2f2;">
        <td>
        <table>
        <tbody>
        <tr>
        <td width="610">&nbsp;</td>
        <td width="130" height="130" style="padding: 15px;" align="left" valign="bottom"><img src="http://www.primeramfbank.com/sites/default/files/primera.png" alt="Primera Logo" width="278"  class="CToWUd"></td>
        <td width="610">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        </td>
        </tr>
        <tr>
        <td style="padding:50px 40px 10px;font-size:20px">Hello Team,</td>
        </tr>
        <tr>
        <td style="padding:10px 40px;color:#093263;font-size:36px;letter-spacing:-1px;font-weight:bold"><span style="text-decoration:underline; text-align: center;">{{ $title }} </span><span class="m_4920298691540864634Apple-converted-space">&nbsp;</span></td>
        </tr>
        <tr>
        <td style="padding:10px 40px 20px"><br> 
        
            <p>You have a new WhatsApp loan request. The details are below: </p>
            <p><strong>Full Name</strong>: {{ record.full_name }}</p>
            <p><strong>Phone Number</strong>: {{ record.phone_no }}</p>
            <p><strong>{{ record_type }}</strong>: {{ record_no }}</p>
            <p><strong>Loan Type</strong>: {{ type }}</p>
            <p><strong>Net Pay</strong>: {{ record.net_pay }}</p>
            <p><strong>Loan Amount</strong>: {{ record.loan_amount }}</p>
            <p><strong>Loan Tenor</strong>: {{ record.loan_tenor }}</p>
            <p><strong>Location</strong>: {{ record.location }}</p>
            <p><strong>Ministry</strong>: {{ record.ministry }}</p>
            <p><strong>Date</strong>: {{ record.created_at }}</p>
        </td>
        </td>
            </tr><tr><td style="padding:10px 40px 20px">Please click button below to send the customer a WhatsApp Message<br> <br></tr><tr>
            <td style="padding:10px 40px 20px">   <a href="https://wa.me/{{ record.phone_no }}"> <button style="background-color: #093263; color: #fff;font-size: 20px;border-radius: 8px; padding: 10px; cursor: pointer;"> Send Customer a WhatsApp Message</button></a></td>
            </tr><tr>
            <td style="padding:20px 40px 40px"><br><br>For further enquiries, please send an email to<span class="m_4920298691540864634Apple-converted-space">&nbsp;</span><a href="mailto:irs@primeramfbank.com" target="_blank">irs@primeramfbank.com</a><span class="m_4920298691540864634Apple-converted-space">&nbsp;</span>
<br><br>Your partner for growth.<br><br>Regards,<br><br><br><span style="font-weight:bold">Primera Internal Resource Stream.</span></td>
            </tr><tr>
            <td style="padding:10px 40px;background-color:rgb(238,238,238)">
            <table width="300" border="0" cellspacing="0" cellpadding="0">
            </table>
            </td>
            </tr>
            <br><br>
            <tr style="background-color: #f1f1f1;">
            <td>
            <table border="0" cellspacing="0" cellpadding="0" > <br><br>
            <tbody>
            <tr valign="top" align="center">
            <td width="40" height="50"></td>
            <td width="220" height="50"><a href="http://www.primeramfbank.com" style="color:rgb(62,70,81);text-decoration:none;font-weight:bold" target="_blank"><span style="color:rgb(62,70,81);text-decoration:none">IRS LOGIN</span></a><br><a href="http://irs.primeramfbank.com/" style="color:rgb(62,70,81);text-decoration:none" target="_blank" ><span style="color:rgb(62,70,81);text-decoration:none;font-size:10px">irs.primeramfbank.com</span></a></td>
            <td width="40" height="50"></td><td width="230" height="50"><a href="mailto:irs@primeramfbank.com" style="color:rgb(62,70,81);text-decoration:none;font-weight:bold" target="_blank"><span style="color:rgb(62,70,81);text-decoration:none">Email</span></a><br><a href="mailto:irs@primeramfbank.com" style="color:rgb(62,70,81);text-decoration:none" target="_blank"><span style="color:rgb(62,70,81);text-decoration:none;font-size:10px">irs@primeramfbank.com</span></a><br></td>
            <td width="220" height="50"><a href="http://www.primeramfbank.com" style="color:rgb(62,70,81);text-decoration:none;font-weight:bold" target="_blank"><span style="color:rgb(62,70,81);text-decoration:none">Website</span></a><br><a href="http://www.primeramfbank.com/" style="color:rgb(62,70,81);text-decoration:none" target="_blank"><span style="color:rgb(62,70,81);text-decoration:none;font-size:10px">www.primeramfbank.com</span></a></td>
            <td width="40" height="50"></td>
            </tr>
            </tbody>
            </table>
            </td>
            </tr>
            <tr style="background-color: #f1f1f1;">
            <td style="height:50px">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        </div>
        </body>
        </html>
        